.btn-light-pink{
  background-color: white;
  border: 1px solid $pinker;
  border-radius: 5px;
  padding: 8px 24px;
  color: $pinker;
  opacity: 0.8;
  transition: .5;

  &:hover{
    background-color: $pinker;
    color: white;
    opacity: 1;
    border: none;
    padding: 8px 24px;
  }
}

.btn-primary-pink{
  background-color: $pinker;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  color: white !important;
  opacity: 0.8;
  transition: .5;
  text-decoration: none;
  font-family: $body-font !important;

  &:hover{
    color: white;
    opacity: 1;
    transition: .5;
    text-decoration: none;
  }
}
.btn-actions{
  background-color: #22333B;
  text-decoration: none;
  color: #fff;
  border-color: #22333B;
  opacity: .9;
  transition: .5;

  &:hover{
    color: #fff;
    opacity: 1;
    transition: .5;
  }
}
