.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bg-white{
  background-color: white;

  #search_name{
    border: 1px solid white;
  }
}
.navbar{
  a{
    font-family: $brand;
    color: $pink;
    font-weight: bolder;
  }
}

